@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*Mouse glow effect */
body::before {
  content: '';
  position: fixed;
  box-shadow: 0 0 200px 200px rgba(255, 81, 0, 0.05);
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 5;
  transform: translate(-50%, -50%);
  will-change: transform;
}

body {
  --mouse-x: 0;
  --mouse-y: 0;
}

body::before {
  transform: translate(calc(var(--mouse-x) * 1px - 5px),
      calc(var(--mouse-y) * 1px - 5px));
}

/*main*/
.mainContainer {
  display: grid;
  grid-template-columns: 1fr minmax(1000px, 2fr) 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #27180D;
  overflow: hidden;
}

.centerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #27180D;
  height: 100%;
  overflow: hidden;
}

/*Inner left side */
.leftContainer {
  font-family: 'Zen Dots', sans-serif;
  position: relative;
  margin: 0px 20px 20px 20px;
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: 0.9fr 0.4fr 0.8fr 1fr;
  color: rgba(255, 246, 211, 0.8);
}

.title {
  position: relative;
  align-content: flex-end;

}

.title * {
  font-weight: normal;
}

/*List tab style and animation */
.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listContainer {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.line {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform-origin: left;
  transition: width 0.3s ease-in-out;
}

.tabText {
  font-weight: normal;
  margin: 5px;
  position: relative;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.listContainer:hover .tabText {
  transform: translateX(50px);
  color: #FFD388;
  cursor: pointer;
}

/* Ensures only the line associated with the hovered text animates */
.listContainer:hover .line {
  width: 40px;
  background-color: #FFD388;
  cursor: pointer;
}

/* Smooth return to original position when mouse leaves */
.tabText {
  transition: transform 0.3s ease-in-out;
}

.listContainer.active .tabText {
  transform: translateX(50px);
  color: #FFD388;
  cursor: pointer;
}

.listContainer.active .line {
  width: 40px;
  background-color: #FFD388;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: -5px;
}

.socials * {
  height: 26px;
  width: 26px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
  color: inherit;
}

.socials :hover {
  color: #FFD388;
  cursor: pointer;
}

.socials a:visited {
  color: #FFF6D3;
}

.bottomLeftIcons {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-left: -5px;
}

.bottomLeftIcons * {
  padding: 10px 10px 0px 10px;
}

.bottomLeftIcons svg:hover {
  color: #FFD388;
  cursor: pointer;
}

.marquee {
  width: 100%;
  font-size: 0.9em;
}

.bottomLeftIcons:hover {
  animation-play-state: paused;
  cursor: pointer;
}

/*--------------------------------------Inner Right side---------------------------------------- */
.rightContainer {
  font-family: 'Michroma', sans-serif;
  height: 100%;
  overflow-y: auto;
  font-size: 0.9em;
}

.rightContainer::-webkit-scrollbar {
  display: none;
}

.rightContainerGrid {
  display: grid;
  padding: 20px;
  grid-template-rows: auto;
  color: rgba(255, 246, 211, 0.7);
}

.rightContainerGrid p:first-child {
  margin-left: 5px;
  margin-right: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-decoration: none;
  color: inherit;
}

.wrapper:hover {
  background-color: rgba(255, 211, 136, 0.05);
  border-radius: 10px;
  cursor: pointer;

  .role {
    color: #FFD388;
  }

  .iconArrow {
    color: #FFD388;
    transition: transform 0.2s ease;
    transform: translate(3px, -3px);
  }

  .imageStyle {
    border-color: rgba(255, 211, 136, 0.4);
  }

}

.wrapper.dimmed {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.wrapper> :first-child {
  margin-top: 10px;
  font-size: 0.9em;
}

.role {
  font-weight: normal;
  font-size: inherit;
  margin-block: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;

}

.description {
  margin-top: 5px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skill {
  font-family: 'Zen Dots', sans-serif;
  background-color: rgba(255, 211, 136, 0.4);
  color: #350C00;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 5px 0;
  font-size: 0.9em;
}

.iconArrow {
  justify-self: center;
  margin-top: 5px;
  height: 15px;
  width: 15px;
}

.viewResume {
  margin-top: 10px;
  margin-bottom: 10px;
}

.viewResume:hover {
  color: #FFD388;
  cursor: pointer;

  .iconArrow {
    color: #FFD388;
    transition: transform 0.2s ease;
    transform: translate(3px, -3px);
  }
}

.imageStyle {
  width: 70%;
  aspect-ratio: 16/9;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(255, 211, 136, 0.2);
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.anchorStyle a {
  text-decoration: none;
  color: rgba(255, 211, 136, 0.5);
}

.anchorStyle a:hover {
  color: #FFD388;
  cursor: pointer;
}

/*------------------------------------------ Phone Sizing-------------------------------------- */
@media (max-width: 1080px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100vw;
    background-color: #27180D;
    overflow: auto;
  }

  .outerLeftContainer {
    display: none;
  }

  .outerRightContainer {
    display: none;
  }

  .centerGridContainer {
    display: grid;
    grid-template-rows: 0.2fr 3fr;
    grid-template-columns: 1fr;
    background-color: #27180D;
    color: #FFF6D3;
    height: 100%;
    overflow-y: auto;
  }

  .centerGridContainer::-webkit-scrollbar {
    width: 12px;
  }

  .leftContainer {
    font-size: 1em;
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    height: auto;
    width: 100%;
    color: rgba(255, 246, 211, 0.8);
  }

  .rightContainer {
    font-family: 'Michroma', sans-serif;
    height: 100%;
    overflow-y: auto;
    font-size: 0.9em;
  }

  .rightContainerGrid {
    display: grid;
    padding: 0px 20px 20px 20px;
    grid-template-rows: auto;
    color: rgba(255, 246, 211, 0.7);
  }

  .title {
    font-size: 0.7em;
    padding: 0px 30px 0px 20px;
  }

  .title * {
    padding: 5px;
    margin: 0px;
  }

  .socials {
    margin-top: 10px;
    margin-left: 15px;
  }

  .socials * {
    height: 1.3em;
    width: 1.3em;
    padding: 0px 5px 0px 5px;
  }

  .bottomLeftIcons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: -5px;
  }

  .bottomLeftIcons * {
    padding: 10px 10px 0px 10px
  }

  .listStyle {
    display: block;
  }

  .headersMobile {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 1.3em;
  }

  /* removes mouse glow */
  body::before {
    display: none;
  }

}