@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  font-family: 'Zen Dots', sans-serif;
}


body::before {
  content: '';
  position: fixed;
  box-shadow: 0 0 150px 100px rgba(255, 81, 0, 0.342);
  pointer-events: none;
  /* Prevent the pseudo-element from blocking interactions */
  mix-blend-mode: screen;
  /* Optional for enhanced glow effects */
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: transform;
  /* Optimize performance for smooth movement */
}

/* Track the cursor position */
body {
  --mouse-x: 0;
  --mouse-y: 0;
}

body::before {
  transform: translate(calc(var(--mouse-x) * 1px - 25px),
      calc(var(--mouse-y) * 1px - 25px));
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #27180D;
}

.centerGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #27180D;
  color: #FFF6D3;
  height: 100%;
  overflow: hidden;
}

/*Outer left side */
.outerLeftContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.marquee {
  height: 100vh;
  width: 100%;
  writing-mode: vertical-rl;
  color: #FFF6D3;
}

/* inner left side */
.leftContainer {
  position: relative;
  margin: 0px 20px 20px 20px;
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: 0.9fr 0.4fr 0.8fr 1fr;
}

.title {
  position: relative;
  align-content: flex-end;

}

.title * {
  font-weight: normal;
}

/*List tab style and animation */
.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listContainer {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.line {
  width: 0;
  height: 2px;
  background-color: #FFF6D3;
  position: absolute;
  left: 0;
  top: 50%;
  transform-origin: left;
  transition: width 0.3s ease-in-out;
}

.tabText {
  font-weight: normal;
  margin: 5px;
  color: #FFF6D3;
  position: relative;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.tabText:hover {
  transform: translateX(50px);
  color: #FFD388;
  cursor: pointer;
}

/* Ensure only the line associated with the hovered text animates */
.tabText:hover+.line {
  width: 40px;
  background-color: #FFD388;
  cursor: pointer;
}

/* Smooth return to original position when mouse leaves */
.tabText {
  transition: transform 0.3s ease-in-out;
}

.socials {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  color: #FFF6D3;
  margin-left: -5px;
}

.socials * {
  height: 26px;
  width: 26px;
  padding: 0px 5px 0px 5px;
}

.socials :hover {
  color: #FFD388;
  cursor: pointer;
}

.socials a:visited {
  color: #FFF6D3;
}

.bottomRightIcons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-left: -5px;
}

.bottomRightIcons * {
  padding: 10px 10px 0px 10px
}

.bottomRightIcons svg:hover {
  color: #FFD388;
  cursor: pointer;
}

/* right side */
.rightContainer {
  background-image: url("./berkeley_sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
  height: 100%;
  overflow-y: auto;
  color: #350C00;
  font-size: 0.9em;
}

.rightContainer::-webkit-scrollbar {
  display: none;
}

.rightContainerGrid {
  display: grid;
  padding: 90px 20px 20px 20px;
  grid-template-rows: auto;
  background-color: rgba(227, 163, 79, 0.8);
}

.rightExperienceContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skill {
  background-color: #350C00;
  color: rgb(255, 211, 136, 0.8);
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 0.9em;
}


/* Phone Sizing */
@media (max-width: 1080px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100vw;
    background-color: #27180D;
    overflow: auto;
  }

  .outerLeftContainer {
    display: none;
  }

  .outerRightContainer {
    display: none;
  }

  .centerGridContainer {
    display: grid;
    grid-template-rows: 20vh 3fr;
    grid-template-columns: 1fr;
    background-color: #27180D;
    color: #FFF6D3;
    height: 100%;
    overflow-y: auto;
    position:relative;
  }

  .centerGridContainer::-webkit-scrollbar {
    width:12px;
  }

  .leftContainer {
    font-size: 1em;
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: 100%;
  }

  .rightContainer {
    background-image: url("./berkeley_sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    height: auto;
    color: #350C00;
    font-size: 0.9em;
  }
  
  .title {
    font-size: 0.7em;
    padding: 0px 30px 0px 20px;
  }

  .title * {
    padding: 5px;
    margin: 0px;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    color: #FFF6D3;
    margin-left: 15px;
  }

  .socials * {
    height: 1.3em;
    width: 1.3em;
    padding: 0px 5px 0px 5px;
  }

  .bottomRightIcons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: -5px;
  }

  .bottomRightIcons * {
    padding: 10px 10px 0px 10px
  }

  .listStyle {
    display: block;
  }

  
  .rightContainerGrid {
    display: grid;
    margin:0px;
    padding: 0px 20px 0px 20px;
    grid-template-rows: auto;
    background-color: rgba(227, 163, 79, 0.8);
  }

  .headersMobile{
    font-weight: normal;
    margin-top:10px;
    margin-bottom: 0px;
    padding:0px;
    font-size: 1.3em;
  }

}